<div class="container mx-auto">
<h1 class="text-2xl w-full text-gray-700 my-4 text-center md:w-auto md:text-left">New Friend</h1>

<%= render 'form', friend: @friend %>

<button class="font-bold w-full mx-auto text-sm rounded bg-gray-500 text-white lg:w-1/6 hover:bg-gray-600">
<%= link_to 'Back', friends_path, class: "block w-full px-2 py-2 md:px-8 md:mx-0 focus:outline-none"%>
<button>
</div>