<div class="container mx-auto">
<h1 class="text-2xl w-full text-gray-700 my-4 text-center md:w-auto md:text-left">New Friend</h1>

<%= render 'form', friend: @friend %>

<%= link_to 'Back', friends_path, class: "block text-center w-full mx-auto p-2 text-sm rounded bg-gray-500 text-white lg:mx-0 lg:w-1/6 hover:bg-gray-600"%>
</div>