<header class="box-border w-full bg-gray-600 text-gray-100 md:p-4">
    <div class="box-border w-full md:flex md:items-center text-center">
        <h1 class="box-border md:text-2xl text-center font-bold"><%= link_to 'Friend app', root_path %></h1>
        <nav class="box-border flex items-center ml-8 text-center">
            <%= link_to 'About us', home_about_path, class: "text-lg text-gray-300" %>
        </nav>
        <div class="flex ml-auto px-4">
            <input type="text" class="w-4/5 px-2 py-1 text-base text-black rounded">
            <button class="ml-2 px-2 text-center border border-solid border-green-600 rounded text-green-600 hover:bg-green-600 hover:text-white">Search</button>
        </div>
    </div>  
</header>