<div class="container mx-auto">
    <h1 class="text-2xl w-full text-gray-700 my-4 text-center md:w-auto md:text-left">About the project</h1>
    <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu velit ipsum. 
        Mauris ac justo eu mi mollis dapibus ac vel magna. Fusce ullamcorper blandit accumsan. In aliquam magna erat.
        Quisque felis turpis, rutrum ut egestas eu, blandit non orci. Cras posuere luctus sollicitudin. Quisque orci magna,
        condimentum eget lorem gravida, dictum pharetra neque. Nam dapibus nisi velit, a tincidunt augue ullamcorper ut.
        Fusce consequat nunc in consectetur accumsan. Aliquam porta placerat rutrum. Mauris pharetra nisi quis ipsum ullamcorper,
        vel tristique nunc fermentum. Suspendisse egestas semper mauris, sed interdum massa blandit nec.
        Nunc vitae tincidunt leo. Phasellus varius at nisi at venenatis. Vivamus pharetra lectus diam, a eleifend diam efficitur id.
        Integer tincidunt sollicitudin auctor. Donec lobortis consectetur placerat. Curabitur tincidunt dapibus dui a rhoncus.
        Nunc tellus purus, tempus at venenatis nec, efficitur et augue. 
    </p>  
</div>
